# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual env
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# OS / editors
.DS_Store
.vscode/

# (Optional) big outputs—KEEP if you want the PNG in GitHub
# outputs/
